:root{
    --bg-color: red;
    --bg-gameBoard: #A0A0A0;
    --bg-input: #C0C0C0;
    --bg-game: #202020;
    --bg-scoreBoard: #a1a1a1;

}

html, body{
    
    /* height: 100%; */
    margin: 0;
    background-color: var(--bg-game);

}


#game{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    /* height: 100%;
    width: 100%; */
    margin-top: 25px;
}



#startMessage{
    margin: 10%;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "message message message"
                         "ai_but ai_but ai_dropDown"
                         "player_but player_but e";
}


#helloMessage{
    grid-area: message;
    color: #FF6961;
    text-align: center;
}

#AIMode{
    grid-area: ai_but;
}

#AIModeSelect{
    grid-area: ai_dropDown;
}

#playerMode{
    grid-area: player_but;
}



#button {
    visibility: hidden;
}

#playerConfirmation {
    padding-left: 10pt;
    padding-bottom: 10pt;
    grid-area: empty;
}

#gameBoard {
    visibility: hidden;
    content: "";
    clear: both;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .4fr 2fr;

    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--bg-gameBoard)	;
}

#infoTabel {
    visibility: hidden;
    grid-area: table1;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
}

#inputs{
    display: grid;
    grid-template-columns: 1fr .25fr .5fr 1.5fr 1fr 1fr 3fr;
    grid-template-rows: .5fr  .5fr;
    align-items: center;
    grid-template-areas: "text drop1 but1 text2 dop2 d3 table1"
                         "empty empty empty empty empty empty table1";
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--bg-input);

    visibility: hidden; 
    /* Hidden needs to be unhiden when game starts */
}


#row{
    visibility: hidden;
}

#col{
    visibility: hidden;
}

#scoreboard{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;

    visibility: hidden;

    display: grid;
    grid-template-rows: .1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "Title Title"
                         "Player1 Player2";
    background-color: var(--bg-scoreBoard);
}

#scoreboard_title{
    grid-area: Title;
    text-align: center;
  
}
#ScoreboardP1{
    margin-left: 50%;
}
#ScoreboardP2{
    margin-left: 50%;
}

.grid {
    float: left;
    display: grid;
    background: black;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    text-align: center;

    margin-left: auto;
    margin-right: auto;

    
    
}

.playerLabel{
    text-align: center;
    /* grid-column: 1 / 4; */
}


.gridLabel {
	text-align: center;
	/* padding: 15px 0; */
	background: var(--bg-gameBoard);
}

.ocean {
    background-color: #76b6c4;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 1px 1px 1px 1px;
}

.boat {
    background-color: gray;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 1px 1px 1px 1px;
}

.hit {
    background-color: #db0000;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 1px 1px 1px 1px;
}

.miss {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 1px 1px 1px 1px;
}

